<div class="hero-unit">

<h1>Welcome</h1>
<p>
  Testing
  <%= link_to "One Month Rails","#" %>
   application.
</p>
<p>
  <%= link_to "Sign up now", "#", class: "btn btn-primary btn-large"%>
</p>

</div>